/* You can add global styles to this file, and also import other style files */

/* === Plugin styles === */

@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "../assets/styles/variables";
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
@import "~bootstrap/scss/bootstrap";
@import "../assets/styles/fonts";
@import "../assets/styles/functions";

/* === Icon fonts === */
@import "~@mdi/font/scss/materialdesignicons";
@import "~flag-icon-css/sass/flag-icon";


/* === Template mixins === */
@import "../assets/styles/mixins/animation";
@import "../assets/styles/mixins/badges";
@import "../assets/styles/mixins/buttons";
@import "../assets/styles/mixins/misc";
@import "../assets/styles/mixins/color-functions";
@import "../assets/styles/mixins/cards";
@import "../assets/styles/mixins/blockqoute";
@import "../assets/styles/mixins/popovers";
@import "../assets/styles/mixins/tooltips";
@import "../assets/styles/mixins/no-ui-slider";


/* === Core Styles === */
@import "../assets/styles/background";
@import "../assets/styles/typography";
@import "../assets/styles/reset";
@import "../assets/styles/responsive";
@import "../assets/styles/misc";
@import "../assets/styles/utilities";
@import "../assets/styles/demo";
@import "../assets/styles/spinner";
@import "../assets/styles/dashboard";

/* === Components === */

@import "../assets/styles/components/forms";
@import "../assets/styles/components/checkbox-radio";
@import "../assets/styles/components/icons";
@import "../assets/styles/components/tables";
@import "../assets/styles/components/buttons";
@import "../assets/styles/components/breadcrumbs";
@import "../assets/styles/components/cards";
@import "../assets/styles/components/preview";
@import "../assets/styles/components/user-profile";
@import "../assets/styles/components/lists";
@import "../assets/styles/components/bootstrap-progress";
@import "../assets/styles/components/tabs";
@import "../assets/styles/components/dropdowns";
@import "../assets/styles/components/pagination";
@import "../assets/styles/components/loaders/loaders";
@import "../assets/styles/components/timeline";
@import "../assets/styles/components/spinner";
@import "../assets/styles/components/react-table";

@import "../assets/styles/components/landing-screens/auth";

/* === Plugin Overrides === */
@import "../assets/styles/components/plugin-overrides/react-bootstrap-table";
@import "../assets/styles/components/plugin-overrides/react-table";

/* === Layout === */
@import "../assets/styles/navbar";
@import "../assets/styles/sidebar";
@import "../assets/styles/footer";
@import "../assets/styles/layout";
@import "../assets/styles/settings-panel";





.clasbg_in .sidebarMain{
    background: #ccc;
  }
  .tik_flex_img a{
    width: 32px;
    height: auto;
    display: block;
  }
  .tik_flex_img .inner_img_e {
    width: 29px;
  }
  .tik_flex_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tik_flex_img a{
    margin: 0px 4px;
  
  }
  .action_tab a{
    margin: 0 10px;
  }

  .kmbVPi {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
}
.text_gree__o {
    margin: 0;
    font-weight: 500;
    color: #20d120;
}
.rdt_TableCol div{
    white-space: break-spaces;
    text-overflow: inherit;
}
.rdt_TableCol:first-child{
    border: 1px solid #00558d;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
.rdt_TableCol:last-child{
    border: 1px solid #00558d;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}
.rdt_TableCol{
    border: 1px solid #00558d;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    background: #071d76;
    color: #fff;
   
}
.rdt_TableCell{
    border: 1px solid #00558d;
    border-top: 0;
   
    border-right: 0;
}
.rdt_TableCell:first-child{
    border: 1px solid #00558d;
    border-top: 0;
  
    border-left: 0;
    border-right: 0;
}
.rdt_TableCell:last-child{
    border: 1px solid #00558d;
    border-top: 0;
 
    border-right: 0;
}
.color_red_o {
    color: #e52828;
}

.rdt_TableRow:nth-child(even) {background: #f2f2f2}
.rdt_TableRow:nth-child(odd) {background: #FFF}

.calaleder_section {
    padding: 10px 10px;
    padding-top: 8px;

    label{
        margin: 0;
        font-weight: 500;
        color: #7a7a7a;
    }
    input {
        width: 119px;
        border: 1px solid #878787;
        border-radius: 5px;
        padding: 3px 3px;
    }
    .datepiker_sec{
        position: relative;
        i{
            position: absolute;
            right: 7px;
            top: 6px;
            color: #007bff;
        }
    }
}
.paddin_sss {
    padding: 4px 10px;
}

.search_download{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 31px;

    .input_1{
        width: 75%;
        padding: 0px 8px;
        position: relative;

        input {
            width: 100%;
            border: 1px solid #828282;
            padding: 4px 10px;
            border-radius: 5px;
        }
        i {
            position: absolute;
            right: 15px;
            top: 8px;
        }
    }
   button {
        font-size: 14px;
        border: none;
        padding: 6px 7px;
        color: #fff;
        background: #2f80ed;
        border-radius: 5px;
    }
}
.class_a {
    width: 100%;
    text-align: right;
    display: block;
    color: #071d76;
    padding: 8px 2px;
}
.send_msg_form{
    padding: 8px 5px;

    label {
        margin: 0;
        font-weight: 600;
        width: 20%;
    }
    input {
        width: 70%;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 7px;
    }
}
.div_clas_po {
    padding: 5px;
    label {
        margin: 0;
        font-weight: 600;
        width: 20%;
    }
}
.modal-dialog_cutom_width{
    max-width: 692px;
    margin: 30px auto;
}
.signature_sectooion{
    width: 49%;

    label {
        margin: 0;
        font-weight: 500;
    }
    .signature_filed{
        height: 68px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 6px;
        position: relative;
        
        .bottom_btn {
            position: absolute;
            right: 0;
            bottom: 2px;
        }
        a {
            padding: 1px 10px;
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
}

.button_section_model{

    .sendmsg{
        background: #112fa7;
        color: #fff;
        padding: 6px 8px;
        margin: 0px 4px;
    }
    .savemsg{
        border: 1px solid #00558d;
        color: #00558d;
        padding: 6px 8px;
        margin: 0px 4px;
    }
    .dlelte{
        font-weight: bold;
        color: #4f4f4f;
        padding: 6px 8px;
        margin: 0px 4px;
    }
}
.model_heder_colo {
    color: #112fa7;
}
.edit_section_d_model{
      .content_clolk{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .img_section_78 {
        font-size: 46px;
        color: #ccc;
    }

    .image_options{

       a {
            font-size: 14px;
            padding: 1px 6px;
        }
       .remover{
            color: #999;
        }
    }
    .grif_place {
        display: flex;
        place-items: center;

        .label_section > label{
            margin: 0;
            font-weight: 500;
        }
    }
}
.input_box_msg{

    input {
        width: 100%;
        border: 1px solid #999;
        border-radius: 5px;
        height: 35px;
        float: right;
    }   
}
.panndin_back{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}
.content_clolk > .flexs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_clolk .custom-control {
    margin-top: 6px;
    margin-right: 9px;
}
.logo_img{
    width: 27px !important;
    height: 24px !important;
    border-radius: 3px !important;
    margin-right: 9px !important;
}
.brad_loda{
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}
.tiltl_head_tetx{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 23px;
    color: #071d76;
}
.sidebar {
    min-height: 100vh !important;
}
.rdt_TableCol div {
    justify-content: center !important; 
}
.klgcSr{
    justify-content: center;
}
.status_section a{
    font-weight: 600;
    font-size: 14px;
}
.status_section a.color_active{
    color: #071d76;
}
.status_section a.color_inactive{
    color: #b0c8d5;
}
.model_section .form-check .form-check-label {
    margin-left: 0 !important;
}
.input_box_msg .rangeslider__handle-label{
 display: none;
}
.input_box_msg .value {
    text-align: center;
    margin-top: -10px;
}
.search_download__new button {
    font-size: 12px;
    border: none;
    padding: 8px 6px;
    color: #fff;
    background: #2f80ed;
    border-radius: 5px;
}
.color_completed{
    color: #29cd1a;
}
.color_error{
    color: #ff0000;
}
.color_In_Progress{
    color: #2d9cdb;
}
.trash_color_i{
    color: #000;
}
.table_new_one{
    position: relative;
    padding: 0;
    .rdt_Pagination{
        position: absolute;
        bottom: -55px;
        left: 0;
    }
}
.new_table_total_filed{
    padding: 0px 12px;
    div{
        border: 1px solid #00558d;
        border-right: 0;
        border-top: 0;
    }
    div:nth-child(1){
        border: 1px solid #00558d;
        border-left: 0;
        border-top: 0;
        border-right: 0px;
    }
    div:last-child{
        border-right: 0px solid #00558d;
     
    }
    h2{
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        text-align: right;
        padding: 14px 5px;
        color: #00558d;
        text-transform: uppercase;
    }
    .row_bg_f{
        background-color: #c6f1ff;
    }
}
.clas_posoa{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}
.colot_po{
    color: #a5b2c8;
}
.border_left_0{
    border-left: 0 !important;
}
.modal-content{
    background: #fff;
}
.email_temp_text{
	margin: 0;
	font-weight: 600;
	color: #071d76;
}


.login_form_section {
	box-shadow: -2px 1px 9px 1px rgba(3,3,3,0.5);
	-webkit-box-shadow: -2px 1px 9px 1px rgba(3,3,3,0.5);
	-moz-box-shadow: -2px 1px 9px 1px rgba(3,3,3,0.5);
	border-radius: 7px;
	padding: 40px;
}
.login_form_section {
	margin: 0;
	text-align: left;
	margin-bottom: 19px;
}
.login_form_section img {
	width: 176px;
	margin: 16px auto;
	display: block;
}
.crediantial_title {
	font-size: 24px;
	color: #171717;
	font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
}
.login_form_section .crediantial_title {
	text-align: left;
	margin: 0;
	margin-bottom: 20px;
	color: #2c2c2c;
}
.login_form_section .form_input label {
	margin: 0;
	color: #636363;
	font-weight: 500;
	font-size: 17px;
}
.login_form_section .form-control-lg {
	height: 49px !important;
	width: 100%;
	margin: 0 auto;
	padding: 8px 16px;
	border-radius: 10px;
	background-color: #f6f6f6;
	border: none !important;
	margin-bottom: 10px;
}
.login_form_section .btn {
	width: 100%;
	background: #161d6f !important;
	margin-top: 12px;
	border: 1px solid #161d6f;
	height: 49px;
	border-radius: 11px;
}
.login_form_banner_section {
	background: radial-gradient(circle, rgba(66,71,133,1) 9%, rgba(22,29,111,1) 45%);
	border-radius: 10px;
    box-shadow: -2px 1px 9px 1px rgba(3,3,3,0.5);
	-webkit-box-shadow: -2px 1px 9px 1px rgba(3,3,3,0.5);
	-moz-box-shadow: -2px 1px 9px 1px rgba(3,3,3,0.5);
	border-radius: 7px;
	

}
.login_form_banner_section h1 {
	margin: 0;
	padding: 38px;
	color: #fff;
	font-size: 50px;
}
.login_form_banner_section h1 .inner_color_s {
	font-weight: 600;
	font-size: 69px;
	color: #98ded9;
}
.login_form_banner_section h1 .normal_fpot {
	font-weight: 100;
	font-size: 40px;
}
.img_section {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.login_form_banner_section .img_section img {
	width: 303px;
	margin: 69px 48px;
	/* float: right; */
}
.buttn_trans{
    margin-right: 5px;
    border: none;
    color: #427cff;
    font-size: 17px;
    background-color: transparent;
}
.fa-check-circle{
    color: green;
}
.admin_input .modal-dialog {
	max-width: 600px;
	margin: 30px auto;
}
.tranfarrm_scrla {
	transform: scale(0.7);
}